<h1>Questions#answer</h1>
<div>
<p><%= @question %></p>
<p class="edition"><%= "You" %></p>
</div>
<div>
<p ><%= @answer %></p>
<p class="edition"><%= "Your coach" %></p>
</div>

<p><%= link_to "Ask more question", ask_path %></p>
